<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yus.core.dao.MUserAdminDao">

    <!-- all_columns应该是全部列 -->
    <sql id="all_columns">
    `id`,
    `user_name`,
    `real_name`,
    `password`,
    `staff_code`,
    `phone`,
    `address`,
    `entry_date`,
    `quit_date`,
    `create_date`,
    `modify_date`,
    `user_status`,
    `is_valid`,
    `creator_id`,
    `creator`,
    `modifier_id`,
    `modifier`
    </sql>
    <!-- insert_columns应该是全部没有默认值的列 -->
    <sql id="insert_columns">
    `id`,
    `user_name`,
    `real_name`,
    `password`,
    `staff_code`,
    `phone`,
    `address`,
    `entry_date`,
    `quit_date`,
    `user_status`,
    `creator_id`,
    `creator`,
    `modifier_id`,
    `modifier`
    </sql>
    <!-- 基本的DAO操作结束 -->

</mapper>